*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template: 
        "cel1 cel1 cel2 cel3" 1fr
        "cel4 cel5 cel6 cel7" 1fr /
         1fr  1fr  1fr  1fr;
    gap: 15px;
    height: 100vh;
}

section{
    background-color: #E7E9EB;
}

article{
    background-color: #E7E9EB;
}

article:nth-child(1){
    grid-area: cel1;

    display: grid;
    grid-template: 
        "cel1 col1" 1fr /
         1fr  1f;
    gap: 10px;
    background-color: #E7E9EB;
}
